body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url("http://1.bp.blogspot.com/-UxGh2Fuw0rQ/TVsVqNfsTHI/AAAAAAAALgw/0K9mFbBNZ4I/s1600/University+of+Greenwich+%25283%2529.jpg");
    background-image: -moz-linear-gradient("http://1.bp.blogspot.com/-UxGh2Fuw0rQ/TVsVqNfsTHI/AAAAAAAALgw/0K9mFbBNZ4I/s1600/University+of+Greenwich+%25283%2529.jpg");
    background-image: -webkit-linear-gradient("http://1.bp.blogspot.com/-UxGh2Fuw0rQ/TVsVqNfsTHI/AAAAAAAALgw/0K9mFbBNZ4I/s1600/University+of+Greenwich+%25283%2529.jpg");
    background-image: linear-gradient("http://1.bp.blogspot.com/-UxGh2Fuw0rQ/TVsVqNfsTHI/AAAAAAAALgw/0K9mFbBNZ4I/s1600/University+of+Greenwich+%25283%2529.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: rgb(115, 197, 27);
}

form {
    background-color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
    display: block;
    margin: 0 auto;
}


div {
    text-align: center;
    margin-top: 10px;
}
